@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/Roboto-Thin.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Roboto-Regular.ttf');
}

@import "style.less";
@import "marker.less";
@import "pulse_dot.less";
@import "zoom_control.less";
@import "version.less";

#version {
  right:2px;
  bottom:1px;
  position:absolute;
  color:rgba(0,0,0,0.7);
  font-size:0.8em;
  z-index:100;

  &:after {
    content: @version;
  }
}
