.btn {
	margin: 0px 0px 15px 15px;
}
#map {
	border: 1px solid #ccc;
	border-radius: 4px;
	height: 300px; 
	width: 100%;
}
.map-table {
	width: 100%;
	padding-right: 15px;
}
.map-table td {
	width: 50%;
	padding-right: 15px;
}