.marker {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
  background-size: 100%;
}

.marker-map {
  width: 80px;
  height: 100px;
}

.marker-map-answer {
  background-image: url(../img/marker_map.png);
}

.marker-map-answer.fade {
  opacity: 0.5;
}

.marker-map-result {
  background-image: url(../img/marker_map_result.png);
}

.marker-time {
  width: 80px;
  height: 100px;
}

.marker-time-answer {
  background-image: url(../img/marker_time.png);
}

.marker-time-answer.fade {
  opacity: 0.5;
}

.marker-time-result {
  background-image: url(../img/marker_time_result.png);
}

.yearDiv {
  color: #fff;
  font-size: 1.5em;
  padding-top: 5px;
  text-align: center;
}



#map-result-marker,
#map-marker {
  pointer-events: none;
  position: absolute;
  bottom: 50%;
  left: 50%;
}

#map-result-marker .pd-container,
#map-marker .pd-container {
  position: relative;
  background: none;
  bottom: -10px;
  margin-left: -10px;
}
