.marker {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
  width: 80px;
  height: 100px;
  background-size: 100%;
}

.marker-answer {
  background-image: url(../img/marker.png);
}

.marker-answer.fade {
  opacity: 0.5;
}

.marker-result {
  background-image: url(../img/marker_result.png);
}
