body {
    background-color: #444;
}

.phone-outer {
    position: relative;
    width:500px;
    height:800px;
    margin: 20px auto;
    background-color: #000;
    border-radius: 20px;
    padding: 20px;
}

.phone-inner {
    position: absolute;
    background-color: #fff;
    height: 700px;
    width: 460px;
}

.control-bar {
    position: absolute;
    height: 60px;
    bottom: 0px;
    width: 100%;
    background-color: #444;
    padding: 5px;
}

.progress {
    position: absolute;
    bottom: 10px;
    margin: 10px 70px;
    width: 310px;
}

.progress-bar {
    -webkit-transition: width 20.0s linear !important;
     -moz-transition: width 20.0s linear !important;
       -o-transition: width 20.0s linear !important;
          transition: width 20.0s linear !important;
}

.question-bar {
    position: absolute;
    height: 100px;
    bottom: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 2em;
}

.map {
    background-image: url("../img/map01.png");
    top: 55px;
    height: 590px;
    width: 100%;
    position: absolute;
}

.timeline {
    background-image: url("../img/tl01.png");
    top: 0px;
    height: 55px;
    width: 100%;
    position: absolute;
}

.start {
    position: relative;
    margin: 10px;
    top: 400px;
}
