html {
    height: 100%;
}

body {
    background-image: url("../img/bg.png");
}

.phone-outer {
    position: relative;
    background-color: #000;

    width:430px;
    height:650px;

    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 0 10px #000;

    margin: 10px auto;
}

.phone-inner {
    position: relative;
    background-color: #fff;
    height: 100%;
    width: 100%;
}

/* #### Desktops #### */
@media screen and (max-width: 420px) {
    body {
        font-size: 1.1em;
    }

    .phone-outer {
        position: absolute;
        top: 0;
        bottom: 0;
        width:100%;
        height: auto;
        margin: 0;
        border-radius: 00px;
        padding: 0px;
    }
}


.control-bar {
    position: absolute;
    height: 60px;
    bottom: 0px;
    width: 100%;
    background-color: #222;
    font-size: 1.2em;
    z-index: 3;
}

.control-bar
.question-progress {
    position: absolute;
    bottom: 0px;
    /*margin: -5px;*/
    width: 100%;
    height: 60px;
    background: rgba(80, 80, 80, 1);
    -webkit-transform: translate3d(0px, 0px, 0px);
}

.control-bar
.question-progress.animate {
    -webkit-transition: width 30.0s linear !important;
       -moz-transition: width 30.0s linear !important;
         -o-transition: width 30.0s linear !important;
            transition: width 30.0s linear !important;
}

.control-bar
.count-down {
    color: white;
    position: absolute;
    bottom: 15px;
    text-align: center;
    width: 100%;
}

.control-bar
.answer {
    position: absolute;
    right: 10px;
    top: 8px;
}
.control-bar
.abort {
    position: absolute;
    left: 10px;
    top: 8px;
}

.question-bar {
    position: absolute;
    bottom: 60px;
    width: 100%;
    background-color: rgb(241, 242, 246);
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);*/
    padding: 10px;
    z-index: 2;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.1em;
    border-top: 5px solid #555;
}

#question-number-container {
    color: #aaa;
}

#answer-info,
#question {
    text-align: center;
    font-size: 1.3em;
    color: #333;
}

#hide-question-bar {
    position: absolute;
    left: 50%;
    display: none;
    top: -45px;
}
#hide-question-bar-inner {
    position: relative;
    left: -50%;
    cursor: pointer;
    font-size: 2em;
    width: 50px;
    height: 45px;
    margin: 0 auto;
    background-color: rgb(241, 242, 246);
    border-radius: 20px 20px 0 0;
    text-align: center;
    color: #555;

    border-top: 5px solid #555;
    border-right: 5px solid #555;
    border-left: 5px solid #555;
}

#score {
    color: #444;
    margin-bottom: 10px;
    text-align: center;
}

.map-area {
    /*position: relative;*/
    /*top: 0px;*/
    /*height: 100%;*/
    /*padding-bottom: 60px;*/
}

.map {
    cursor: pointer !important;
    /*height: 100%;*/
}

.timeline {
    top: 0px;
    height: 45px;
    width: 100%;
    position: absolute;

    background-color: white;
    background-size: 100% auto;
    background-position: 0 0px;
    background-repeat: no-repeat;

    border-bottom: 5px solid #555;
}

.start {
    position: relative;
    top: 50px;
}

.title-image {
    /*background-image: url("../img/title.jpg");*/
    background-size: cover;
}

.well {
    background-color: white;
    background-image: none;
    border: none;
    color: #444;
}

#instructions {
    position: absolute;
}

#link-imprint {
    color: #BBBBBB;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: -30px;
    font-size: 0.8em;
}

h3 {
    margin-top: 10px;
    margin-bottom: 30px;
}

#imprint {
    color: #BBBBBB;
    margin: 5px 5px 5px 5px;
}

.panel > .panel-heading {
    cursor: pointer;
}


h1 {
    font-size: 30px;
    margin-top: 10px;
}

.panel-group {
    margin-bottom: 5px;
}

.social-buttons {
    text-align: center;
    /*vertical-align: bottom;*/
}

.social-buttons span {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}




